# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_ID=

# Project Settings
VITE_APP_NAME="Professional Learning Site"

VITE_FIREBASE_APPLET_CONFIG_API_KEY={
  "projectId": "steam-thinker-473503-f5",
  "appId": "1:812679284649:web:2c5553f15ee477a80aa6b8",
  "apiKey": "AIzaSyCoYWg1WztdbPMwtnjpGpimeJtc1JvZ7CI",
  "authDomain": "steam-thinker-473503-f5.firebaseapp.com",
  "storageBucket": "steam-thinker-473503-f5.firebasestorage.app",
  "messagingSenderId": "812679284649",
  "measurementId": "G-1C9S5LK2RT",
  "firestoreDatabaseId": "(default)"
}